<div class="login_wrap">
  <form 
    class="form_login"
    [formGroup]="formdata"
    (ngSubmit)="login(formdata.value)"
    >
    <mat-form-field>
      <input 
        matInput 
        placeholder="請輸入您的手機號碼" 
        required 
        formControlName="phone"
        />
    </mat-form-field>

    <mat-form-field>
      <input 
        matInput 
        placeholder="密碼" 
        type="password" 
        required 
        formCpntrolName="password"
        />
    </mat-form-field>


    <mat-checkbox>下次自動登錄</mat-checkbox>

    <button type="submit" mat-raised-button color="primary" class="btn_login">登入</button>
  </form>
</div>
