<section>
  <h2>HEROES</h2>
  <ul class="heroes">
    <li 
      *ngFor="let hero of heroes" 
      (click)="onSelect(hero)"
      [class.selected]="hero===selectedHero"
      >
      <span class="badge">
        {{hero.id}}
      </span>
      {{hero.name}}
    </li>
  </ul>
</section>
<section *ngIf="selectedHero">
<h2>{{selectedHero.name | uppercase}} 詳情</h2>
<div>
  <span>
    id:
    <span>
      {{selectedHero.id}}
    </span>
  </span>
</div>
<div>
  <label>
    name:
    <input [(ngModel)]="selectedHero.name" placeholder="輸入一個名字" />
  </label>
</div>
</section>